#
# Copyright (C) 2026 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman bbb-export-annotations-app.service
BindsTo=bigbluebutton.service
After=bigbluebutton.service redis-app.service etherpad-app.service bbb-pads-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/passwords.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/bbb-export-annotations-app.pid %t/bbb-export-annotations-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/bbb-export-annotations-app.pid \
    --cidfile %t/bbb-export-annotations-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/bigbluebutton.pod-id --replace -d --name bbb-export-annotations-app \
    --env-file=%S/state/passwords.env \
    --volume bigbluebutton:/var/bigbluebutton:z \
    --tmpfs /tmp \
    ${BBB_DOCKER_BBB_EXPORT_ANNOTATIONS_IMAGE}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/bbb-export-annotations-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/bbb-export-annotations-app.ctr-id
SyslogIdentifier=%u
PIDFile=%t/bbb-export-annotations-app.pid
Type=forking

[Install]
WantedBy=default.target
