#
# Copyright (C) 2026 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman nginx-app.service
BindsTo=bigbluebutton.service
After=bigbluebutton.service bbb-web-app.service bbb-graphql-middleware-app.service etherpad-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/passwords.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/nginx-app.pid %t/nginx-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/nginx-app.pid \
    --cidfile %t/nginx-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/bigbluebutton.pod-id --replace -d --name nginx-app \
    --env-file=%S/state/passwords.env \
    --volume bigbluebutton:/var/bigbluebutton:z \
    --volume %S/state/overrides/webrtc-sfu.nginx:/etc/nginx/bbb/webrtc-sfu.nginx:ro,z \
    --volume %S/state/overrides/nginx-default.conf:/etc/nginx/conf.d/default.conf:ro,z \
    --volume %S/state/overrides/nginx.conf:/etc/nginx/nginx.conf:ro,z \
    --volume %S/state/overrides/internal.crt:/etc/nginx/internal/internal.crt:ro,z \
    --volume %S/state/overrides/internal.key:/etc/nginx/internal/internal.key:ro,z \
    --volume %S/state/overrides/default.pdf:/www/default.pdf:ro,z \
    --volume %S/state/overrides/nginx-entrypoint.sh:/nginx-entrypoint.sh:ro,z \
    --entrypoint=/nginx-entrypoint.sh \
    --tmpfs /tmp \
    ${BBB_DOCKER_NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/nginx-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nginx-app.ctr-id
SyslogIdentifier=%u
PIDFile=%t/nginx-app.pid
Type=forking

[Install]
WantedBy=default.target
